                    /* CSS do Cabeçalho */
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

                    /* CSS da Pagina Home */
.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 2px 2px 10px white;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "✯";
}

.itens:nth-child(1) {
    font-weight: bold;
}

.itens:hover {
    color: white;
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: .5s all;
    box-shadow: 10px 10px 30px black;
}

.imagem-beneficios:hover {
    opacity: 0.5;
    width: 70%;
}

.video {
    width: 560px;
    margin: 3em auto 1em auto;
}

                    /* CSS da Pagina Produtos */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.produtos li:hover {
    border-color: #C78C19;
    transition: .5s all;
}

.produtos li:hover h2 {
    font-size: 34px;
    transition: .5s all;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 20px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

                    /* CSS da Pagina Contato */
.contato-principal {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 50%;
}

.checkbox {
    margin: 20px 0 20px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: .5s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.1);
    text-decoration: underline;
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 10px 15px;
}

                    /* CSS do Rodapé */
footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

                    /* CSS Responsivo para Smartphones */
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    .lista-beneficios {
        width: 100%;
    }

    .imagem-beneficios {
        width: 100%;
        margin-top: 1em;
    }

    .imagem-beneficios:hover {
        width: 100%;
    }

    .video {
        margin-left: 1em;
        margin-right: 1em;
    }

    .produtos li {
        display: block;
        margin: 2em;
    }

    .contato-principal, .contato-principal input, .contato-principal textarea {
        width: auto;
        text-align: center;
        margin: auto auto 2em auto;
    }

    table {
        margin: auto auto 2em auto;
    }
}